#container {
    width: 30%;
    margin: auto;
    background-color: aquamarine;
}
h2 {
    padding-top: 20px;
    text-align: center;
}
label {
    display: block;
    padding: 10px 40px;
    position: relative;
}
label:last-child {
    padding-bottom: 30px;
}
input[type="checkbox"] {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.switch:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: left 0.4s;
}

#good:checked + .switch1:before {
    background-color: #216ef3;
}
#cheap:checked + .switch2:before {
    background-color: #af0596;
}
#fast:checked + .switch3:before {
    background-color: #ffb109;
}

/* input[type="checkbox"]:checked + .switch:before {
    background-color: #21f321;
} */
input:checked + .switch:after {
    left: calc(100% - 32px);
}

.content {
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 18px;
}
